<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PacienteSWPortBinding" />
                <binding name="HistorialClinicoSWPortBinding" />
                <binding name="ServicioEnfermedadSWPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7101/AplicacionServidorHospitalSW-ProyectoServidorHospitalSW-context-root/PacienteSWPort"
                binding="basicHttpBinding" bindingConfiguration="PacienteSWPortBinding"
                contract="ServidorPacienteSW.PacienteSW" name="PacienteSWPort" />
            <endpoint address="http://localhost:7101/AplicacionServidorHospitalSW-ProyectoServidorHospitalSW-context-root/HistorialClinicoSWPort"
                binding="basicHttpBinding" bindingConfiguration="HistorialClinicoSWPortBinding"
                contract="ServicioHistorialClinicoSW.HistorialClinicoSW" name="HistorialClinicoSWPort" />
            <endpoint address="http://localhost:7101/AplicacionServidorHospitalSW-ProyectoServidorHospitalSW-context-root/ServicioEnfermedadSWPort"
                binding="basicHttpBinding" bindingConfiguration="ServicioEnfermedadSWPortBinding"
                contract="ServicioEnfermedadSW.ServicioEnfermedadSW" name="ServicioEnfermedadSWPort" />
        </client>
    </system.serviceModel>
</configuration>